* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #f3f3f3;
  }
  

  /* news */
  img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  .heading-container {
    background-color: #a3b18a;
    color: #ffffff;
    font-size: 2.5em;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 30px 0 rgba(2, 0, 31, 0.3);
  }
  .heading-container h4 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 5px;
  }
  .options-container {
    margin: 3em 0 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    text-align: center;
  }
  .option {
    background-color: #d5d5d5;
    border: none;
    cursor: pointer;
    padding: 0.8em 1.5em;
    border-radius: 0.5em;
    border: none;
    text-transform: capitalize;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
  .news-card {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    box-shadow: 0 0 15px rgba(85, 85, 85, 0.2);
    margin: 1em 0;
    border-radius: 15px;
  }
  .news-card img {
    border-radius: 15px 15px 0 0;
  }
  .news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    font-size: 15px;
  }
  .news-title {
    font-weight: 600;
    color: #0b0028;
  }
  .news-description {
    color: #6f6f6f;
    text-align: justify;
    margin: 0.8em 0 1em 0;
  }
  .view-button {
    position: relative;
    text-decoration: none;
    background-color: #a3b18a;
    color: #ffffff;
    width: 7em;
    text-align: center;
    padding: 0.3em 0.2em;
    border-radius: 5px;
  }
  .active {
    background-color: #588157;
    color: #ffffff;
  }
  @media only screen and (max-width: 768px) {
    .container {
      grid-template-columns: repeat(1, 1fr);
    }
  }



/* dictionary */

.dict-container {
    display: flex;
    flex-direction: row-reverse;

    margin: 10px;
}

.dict-container i {
    margin-left: 10px;
    font-size: 30px;

    color: #588157;
}

.dict-container p {
    color: #588157;

    font-weight: 700;
}

.cont {
    background-color: #ffffff;
    width: 90vmin;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);

    display: none;
}
.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #90a955;
    font-size: 16px;
}
.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #90a955;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
}
.result {
    position: relative;
}
.result h3 {
    font-size: 30px;
    color: #194c29;
}
.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result button {
    background-color: transparent;
    color: #a1ff9c;
    border: none;
    outline: none;
    font-size: 18px;
}
.result .details {
    display: flex;
    gap: 10px;
    color: #b3d4cb;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning {
    color: #577b61;
}
.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}
.error {
    margin-top: 80px;
    text-align: center;
}